<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actuator_type.name %>
</p>

<%= link_to 'Edit', edit_actuator_type_path(@actuator_type) %> |
<%= link_to 'Back', actuator_types_path %>
